<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <%- include('navbar', {links: links}) %>
    <a href="/items/create">
      <button>Add Item</button>
    </a>
    <ul>
      <%if (locals.items) {%>
      <% items.forEach ( item=> { %>
      <li><a href="/items/<%= item.id %>"><%= item.name %></a></li>
      <% }); %>
      <%}%>
    </ul>
  </body>
</html>
